.image, .img{
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    
}
.align-items-center {
    -webkit-box-align: center !important;
    -ms-flex-align: center !important;
    align-items: center !important;
}
.justify-content-center {
    -webkit-box-pack: center !important;
    -ms-flex-pack: center !important;
    justify-content: center !important;
}


.d-flex {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
}

.ftco-no-pb {
    padding-bottom: 0;
}

.product .img .desc {
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    transition: all 0.3s ease;
    
}
p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}
.fadeInUp {
    -webkit-animation-name: fadeInUp;
    animation-name: fadeInUp;
}
.ftco-animated {
    -webkit-animation-duration: .5s;
    animation-duration: .5s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}
.ftco-section {
    padding: 6em 0;
    position: relative;
}

*, *::before, *::after {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

section {
    display: block;
}

.ftco-no-pb {
    padding-bottom: 0;
}
.ftco-section {
    padding: 3em 0;
    position: relative;
}
article, aside, figcaption, figure, footer, header, hgroup, main, nav, section {
    display: block;
}
*, *::before, *::after {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

section {
    display: block;
}
@media (min-width: 992px)
{.col-lg-2 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 16.66667%;
    flex: 0 0 16.66667%;
    max-width: 16.66667%;
    padding: 0;
}}


.container-liquor {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
@media (min-width: 1200px){
    .container-liquor {
        max-width: 1140px;
    }
}

.w-100 {
    width: 100% !important;
}
.sort .img {
    width: 130px;
    height: 130px;
    border-radius: 50%;
    margin: 0 auto;
    margin-bottom: 20px;
    position: relative;
    z-index: 0;
}
.sort h3 {
    font-size: 22px;
    font-weight: 300;
}

/* 
@media (min-width: 992px)
{.container {
    max-width: 960px;
}}
@media (min-width: 768px)
{.container {
    max-width: 720px;
}}
@media (min-width: 576px)
{.container {
    max-width: 540px;
}} */

body {
    background: #fff;
    font-size: 1rem;
    line-height: 1.5;
    font-weight: 400;
    color:gray ;
    text-align:left;
}

.para{
    text-align: justify;
}
.pb-5, .py-5 {
    padding-bottom: 3rem !important;
}
.pt-5, .py-5 {
    padding-top: 3rem !important;
}
.fadeInUp {
    -webkit-animation-name: fadeInUp;
    animation-name: fadeInUp;
}

.ftco-animated {
    -webkit-animation-duration: .5s;
    animation-duration: .5s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

.heading-section .subheading {
    font-size: 18px;
    display: inline-block;
    margin-bottom: 0;
    color: #b7472a;
    font-size: 16px;
    font-weight: 400;
    font-style: italic;
    position: relative;
    
}

@media (min-width: 768px){
    .col-md-6 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 50%;
        flex: 0 0 50%;
        max-width: 50%;
    }
}

.mb-4{
    color: black;
    text-decoration: black;
    margin-bottom: 1.5rem !important;
    text-align: left;
}
h1, h2, h3, h4, h5, .h1, .h2, .h3, .h4, .h5 {
    line-height: 1.5;
    color: black;
    font-weight: 400;
}
h2, .h2 {
    font-size: 2rem;
}
h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    margin-bottom: 0.5rem;
    font-weight: 500;
    line-height: 1.2;
    color: inherit;
}
h1, h2, h3, h4, h5, h6 {
    margin-top: 0;
    margin-bottom: 0.5rem;
}
*, *::before, *::after {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

h2 {
    display: block;
    font-size: 1.5em;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
    color: black;
}
.sort .img:after {
    position: absolute;
    top: -10px;
    left: -10px;
    right: -10px;
    bottom: -10px;
    content: '';
    border: 1px solid #b7472a;
    z-index: -1;
    border-radius: 50%;
    -moz-transition: all 0.6s ease;
    -o-transition: all 0.6s ease;
    -webkit-transition: all 0.6s ease;
    -ms-transition: all 0.6s ease;
    transition: all 0.6s ease;
}
@media (min-width: 992px){
    .col-lg-2 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 16.66667%;
        flex: 0 0 16.66667%;
        max-width: 16.66667%;
    }
}

@media (min-width: 768px){
    .col-md-4 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 33.33333%;
        flex: 0 0 33.33333%;
        max-width: 33.33333%;
    }
}

.text-center {
    text-align: center !important;
}
.w-100 {
    width: 100% !important;
}

div {
    display: block;
}
article, aside, figcaption, figure, footer, header, hgroup, main, nav, section {
    display: block;
}
.col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12, .col, .col-auto, .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm, .col-sm-auto, .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12, .col-md, .col-md-auto, .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg, .col-lg-auto, .col-xl-1, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl, .col-xl-auto {
    position: relative;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
}

@keyframes fadeInUp {
    from {
      opacity: 0;
      visibility: hidden;
      /*-webkit-transform: translate3d(0, 100%, 0);
      transform: translate3d(0, 100%, 0);*/
      -webkit-transform: translate3d(0, 40px, 0);
      transform: translate3d(0, 40px, 0);
    }
  
    to {
      visibility: visible;
      opacity: 1;
      -webkit-transform: none;
      transform: none;
    }
  }

  .pb-5, .py-5 {
    padding-bottom: 3rem !important;
}
.row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}
.product {
    width: 100%;
    display: block;
    margin-bottom: 40px;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
.product .img {
    display: block;
    border-radius: 4px;
    height: 320px;
    max-width: 280px;
    position: relative;
}

.d-flex {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
}
@media (min-width: 768px){
    .col-md-3 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 25%;
        flex: 0 0 25%;
        max-width: 25%;
    }
}
.product .text .sale {
    background: #b7472a;
}
.product .text .seller {
    background: #fe9801;
}

.product .text .sale, .product .text .seller, .product .text .new {
    position: absolute;
    top: 0;
    left: 4px;
    font-size: 12px;
    padding: 0 10px;
    color: #fff;
}
.product .text {
    padding: 10px;
    position: relative;
}
.text-center {
    text-align: center !important;
}
.product .text .new {
    background: #01d28e;
}

.product .text .category {
    font-style: italic;
    color: #b7472a;
}
.product .text h2 {
    font-size: 22px;
    text-transform: capitalize;
    font-weight: 300;
}
h1, h2, h3, h4, h5, .h1, .h2, .h3, .h4, .h5 {
    line-height: 1.5;
    color: black;
    font-weight: 400;
}
.product .text .price {
    font-style: italic;
    color: #000000;
}
.btn:not(:disabled):not(.disabled) {
    cursor: pointer;
}
.btn.btn-primary {
    background: #b7472a !important;
    border: 1px solid #b7472a !important;
    color: #fff !important;
}

.btn {
    cursor: pointer;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    border-radius: 3px;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    font-size: 15px;
    font-weight: 500;
}



/* About Us */

.hero-wrap.hero-wrap-2 {
    height: 400px !important;
    position: relative;
    background-position: 50% 0%;
    width: 100%;
    background-size: cover;
     background-repeat: no-repeat;
    background-position: center center;
   
}
.hero-wrap {
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position:top center;
    position: relative;
    z-index: 0;
    height: 750px; 
}

.hero-wrap.hero-wrap-2 .overlay {
    width: 100%;
    height: 400px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    content: '';
    opacity: 0;
}




.hero-wrap.hero-wrap-2 .slider-text {
    height: 400px !important;
}
.hero-wrap .slider-text {
    height: 750px;
    position: relative;
}
.align-items-end {
    -webkit-box-align: end !important;
    -ms-flex-align: end !important;
    align-items: flex-end !important;
}
.no-gutters {
    margin-right: 0px;
    margin-left: 0px;
}
.mb-5, .my-5 {
    margin-bottom: 3rem !important;
}

@media (min-width: 768px)
{.col-md-9 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 75%;
    flex: 0 0 75%;
    max-width: 75%;
}}
.no-gutters > .col, .no-gutters > [class*="col-"] {
    padding-right: 0;
    padding-left: 0;
}

.hero-wrap.hero-wrap-2 .slider-text .breadcrumbs {
    font-size: 14px;
    margin-bottom: 20px;
    z-index: 99;
    text-transform: uppercase;
    font-weight: 500;
  
}
.hero-wrap .slider-text p {
    font-weight: 400;
    font-size: 20px;
    line-height: 1.5;
    color: rgba(255, 255, 255, 0.9);
}
.mb-0, .my-0 {
    margin-bottom: 0 !important;
}
p {
    margin-top: 0;
    margin-bottom: 1rem;
}
.hero-wrap.hero-wrap-2 .slider-text .breadcrumbs span {
    color: rgba(255, 255, 255, 0.7);
  
}
.mr-2, .mx-2 {
    margin-right: 0.5rem !important;
}
a {
    text-decoration: none;
    background-color: transparent;
    color: black;
}
a:hover {
  -webkit-transition: .3s all ease;
    -o-transition: .3s all ease;
    transition: .3s all ease;
    color: #b7472a;
    text-decoration: none;
}

.hero-wrap.hero-wrap-2 .slider-text .bread {
    position: relative;
    color: #fff !important;
    font-size: 60px;
    color: #fff;
    line-height: 1.1;
    font-weight: 400;
}
.container-fluid{
    padding-left: 0px;
    padding-right: 0px;
    overflow: hidden;
}
.ftco-intro {
    background: #b7472a;
}
.ftco-intro .intro {
    z-index: 0;
    position: relative;
}
.intro {
    width: 100%;
    background: #b7472a;
    padding: 30px;
}
.intro .text {
    color: rgba(255, 255, 255, 0.8);
}
.intro .text h2 {
    font-size: 18px;
    font-weight: 500;
    text-transform: uppercase;
    color: #fff;
    text-align: left;
}
.text p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    text-align: left;
}
/* For blog */
.heading-section h2 {
    font-size: 30px;
    font-weight: 700;
}
.align-items-stretch {
    -webkit-box-align: stretch !important;
    -ms-flex-align: stretch !important;
    align-items: stretch !important;
}

@media (min-width: 992px)
{.col-lg-6 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
}}

@media (min-width: 768px)
{.blog-entry {
    margin-bottom: 30px;
}}
.blog-entry {
    overflow: hidden;
    width: 100%;
    position: relative;
    z-index: 0;
}
.blog-entry .text {
    position: relative;
    margin: 0 auto;
    z-index: 0;
}
.blog-entry .img, .blog-entry .text {
    width: 50%;
}
.bg-light {
    background: #f5f4f0 !important;
}
.p-4 {
    padding: 1.5rem !important;
}
.blog-entry .meta p span {
    padding-right: 10px;
}
.fa {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.blog-entry .text .heading {
    font-size: 22px;
    margin-bottom: 0;
    font-weight: 500;
    font-style: italic;
}
.mb-3, .my-3 {
    margin-bottom: 1rem !important;
}
.blog-entry .text .heading a {
    color: #000000;
   text-align: left;
    text-decoration: none;
}

.blog-entry .btn-custom {
    color: red;
    font-style: italic;
    font-weight: 700;
}
.blog-entry .btn-custom span {
    font-size: 12px;
}
.block-20 {
    overflow: hidden;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    position: relative;
    width: 100%;
    z-index: -1;
}
/* For contact */
.bg-light {
    background: #f5f4f0 !important;
}
.wrapper {
    width: 100%;
}
@media (min-width: 768px)
{pl-md-4, .px-md-4 {
    padding-left: 1.5rem !important;
}}
@media (min-width: 768px)
{.pr-md-4, .px-md-4 {
    padding-right: 1.5rem !important;
}}

@media (min-width: 768px)
{.col-md-3 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 25%;
    flex: 0 0 25%;
    max-width: 25%;
}}
.dbox {
    width: 100%;
    margin-bottom: 25px;
}
.dbox .icon {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background: #b7472a;
    margin: 0 auto;
    margin-bottom: 20px;
}
.dbox .icon span {
    font-size: 30px;
    color: #fff;
}

.dbox .text {
    width: 100%;
}
.dbox p {
    margin-bottom: 0;
    text-align: center;
    font-size: 15px;
    text-decoration: none;
    
}
.dbox p span {
    font-weight: 500;
    color: #000000;
}
.contact-wrap {
    background: #fff;
}
@media (min-width: 768px)
{.p-md-5 {
    padding: 3rem !important;
}}
.p-4 {
    padding: 1.5rem !important;
}
form {
    display: block;
    margin-top: 0em;
}
@media (min-width: 768px)
{.col-md-6 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
}}
.form-group {
    margin-bottom: 1rem;
}
.contactForm .label {
    color: #b7472a !important;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 600;
    
}
label {
    display: flex;
    margin-bottom: 0.5rem;
    cursor:default;
    text-align: left;
}
.contactForm .form-control {
    height: 36px;
    background: #fff;
    color: rgba(0, 0, 0, 0.5);
    font-size: 14px;
    border-radius: 2px;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
.contactForm .form-control {
    border: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    padding: 0;
}
.form-control {
    height: 52px !important;
    background: #fff !important;
    color: #000000 !important;
    font-size: 18px;
    border-radius: 5px;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
}
.form-control {
    display: block;
    width: 100%;
    height: calc(2.25rem + 2px);
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
  
}
/* @media (min-width: 768px)
{.order-md-first {
    -webkit-box-ordinal-group: 0;
    -ms-flex-order: -1;
    order: -1;
}}
@media (min-width: 768px)
{.col-md-5 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 41.66667%;
    flex: 0 0 41.66667%;
    max-width: 41.66667%;
}}
#map {
    width: 100%;
}

element.style {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
    cursor: url(https://maps.gstatic.com/mapfiles/openhand_8_8.cur), default;
    touch-action: pan-x pan-y;
    padding: 0px;
    border-width: 0px;
    margin: 0px;
    background-color: rgb(229, 227, 223);
    z-index: 1;
    position: absolute;
    transform: translate(0px, 0px);
}

.gm-style {
    font: 400 11px Roboto, Arial, sans-serif;
    text-decoration: none;
} */

/* For product */
.justify-content-between {
    -webkit-box-pack: justify !important;
    -ms-flex-pack: justify !important;
    justify-content: space-between !important;
}
.product-select {
    font-size: 18px;
}
.dropup, .dropright, .dropdown, .dropleft {
    position: relative;
}
button, select {
    text-transform: none;
}
input, button, select, optgroup, textarea {
    margin: 0;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}
select:-internal-list-box {
    appearance: listbox;
    align-items: flex-start;
    overflow-x: hidden;
    overflow-y: scroll;
    vertical-align: text-bottom;
    white-space: nowrap;
    background-color: -internal-light-dark(rgb(255, 255, 255), rgb(59, 59, 59));
    border-width: 1px;
    border-style: solid;
    border-color: -internal-light-dark(rgb(118, 118, 118), rgb(133, 133, 133));
    border-image: initial;
    border-radius: 2px;
}

select {
   
    text-rendering: auto;
    color: -internal-light-dark(black, white);
    letter-spacing: normal;
    word-spacing: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    text-align: start;
    appearance: menulist;
    box-sizing: border-box;
    align-items: center;
    white-space: pre;
    -webkit-rtl-ordering: logical;
    background-color: -internal-light-dark(rgb(255, 255, 255), rgb(59, 59, 59));
    cursor: default;
    margin: 0em;
    font: 400 13.3333px Arial;
    border-radius: 0px;
    border-width: 1px;
    border-style: solid;
    border-color: -internal-light-dark(rgb(118, 118, 118), rgb(133, 133, 133));
    border-image: initial;
}
select:-internal-list-box option {
    line-height: initial !important;
}
option {
    font-weight: normal;
    display: block;
    white-space: nowrap;
    min-height: 1.2em;
    padding: 0px 2px 1px;
}
.btn:not(:disabled):not(.disabled) {
    cursor: pointer;
}
.btn:not(:disabled):not(.disabled) {
    cursor: pointer;
}
button, [type="button"], [type="reset"], [type="submit"] {
    -webkit-appearance: button;
}
button, select {
    text-transform: none;
}
button, input {
    overflow: visible;
}
h4 {
    display: block;
    margin-block-start: 1.33em;
    margin-block-end: 1.33em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    
}
.btn-light {
    color: #212529;
    background-color: #f8f9fa;
    border-color: #f8f9fa;
}

button {
    border-radius: 0;
    appearance: auto;
    text-rendering: auto;
    color: -internal-light-dark(black, white);
    letter-spacing: normal;
    word-spacing: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    text-align: center;
    align-items: flex-start;
    cursor: default;
    background-color: -internal-light-dark(rgb(239, 239, 239), rgb(59, 59, 59));
    box-sizing: border-box;
    margin: 0em;
    font: 400 13.3333px Arial;
    padding: 1px 6px;
    border-width: 2px;
    border-style: outset;
    border-color: -internal-light-dark(rgb(118, 118, 118), rgb(133, 133, 133));
}
.dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    display: none;
    float: left;
    min-width: 10rem;
    padding: 0.5rem 0;
    margin: 0.125rem 0 0;
    font-size: 1rem;
    color: #212529;
    text-align: left;
    list-style: none;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 0.25rem;
}
@media (min-width: 768px)
{.col-md-3 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 25%;
    flex: 0 0 25%;
    max-width: 25%;
}}

.sidebar-box {
    margin-bottom: 40px;
    font-size: 15px;
    width: 100%;
    background: #fff;
}
.sidebar-box *:last-child {
    margin-bottom: 0;
}
.sidebar-box h3 {
    font-size: 22px;
    margin-bottom: 20px;
    font-weight: 500;
}
.p-0 {
    padding: 0 !important;
}
ul {
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
    text-align: left;
    
}
.categories li, .sidelink li {
    position: relative;
    margin-bottom: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid #dee2e6;
    list-style: none;
}

li {
    display: list-item;
    text-align: -webkit-match-parent;
}
.categories li a span, .sidelink li a span {
    position: absolute;
    right: 0;
    top: 7px;
    color: #ccc;
}
.mt-5, .my-5 {
    margin-top: 3rem !important;
}
.text-center {
    text-align: center !important;
}
.col {
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    max-width: 100%;
}
.block-27 ul {
    padding: 0;
    margin: 0;
    text-align: center;
}
ol, ul, dl {
    margin-top: 0;
    margin-bottom: 1rem;
}
.block-27 ul li {
    display: inline-block;
    margin-bottom: 4px;
    font-weight: 400;
}
.block-27 ul li a, .block-27 ul li span {
    color: #b7472a;
    text-align: center;
    display: inline-block;
    width: 40px;
    height: 40px;
    line-height: 40px;
    border-radius: 50%;
    border: 1px solid #e6e6e6;
}

.text-center {
    text-align: center ;
}
.bg-dark{
    margin-top: 20px;
}

.middle {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
  }
  
  .product:hover .view {
    opacity: 0.3;
    z-index: -1;
    position: absolute;
    background: #000000;
    border-radius: 4px;
    transition: all 0.6s ease;

  }
  
  .product:hover .middle {
    opacity: 1;
  }
  
.product .img:after {
  
    opacity: 0;
    border-radius: 4px;
    -moz-transition: all 0.6s ease;
    -o-transition: all 0.6s ease;
    -webkit-transition: all 0.6s ease;
    -ms-transition: all 0.6s ease;
    transition: all 0.6s ease;
}
  
  .middle .text {
    color: white;
    font-size: 16px;
    width: 100%;
    padding: 16px 32px;
  }
  .col-md-6 p{
      text-align: left; 

  }
  .pl-0, .table td {
      text-align: left;
  }
  .col-md-6 button{
      float: left;
  }
  .table-wrap {
    overflow-x: scroll;
}
.table one{
    min-width: 1000px !important;
    width: 100%;
    background: #fff;
    -webkit-box-shadow: 0px 5px 12px -12px rgb(0 0 0 / 29%);
    -moz-box-shadow: 0px 5px 12px -12px rgba(0, 0, 0, 0.29);
    box-shadow: 0px 5px 12px -12px rgb(0 0 0 / 29%);
}
.table one{
    width: 100%;
    margin-bottom: 1rem;
    background-color: transparent;
}
table one {
    border-collapse: collapse;
}

user agent stylesheet
table one{
    display: table;
    border-collapse: separate;
    box-sizing: border-box;
    text-indent: initial;
    border-spacing: 2px;
    border-color: grey;
}
.table thead.thead-primary {
    background: #7E57C2;
    border-radius: 4px;
}

.thead-primary one {
    display: table-header-group;
    vertical-align: middle;
    border-color: inherit;
}
table one{
    border-collapse: collapse;
}
tr {
    display: table-row;
    vertical-align: inherit;
    border-color: inherit;
}
th {
    text-align: inherit;
}

th {
    display: table-cell;
    vertical-align: inherit;
    font-weight: bold;
    text-align: -internal-center;
}
tbody {
    display: table-row-group;
    vertical-align: middle;
    border-color: inherit;
}
.table tbody tr {
    margin-bottom: 10px;
}
.alert {
    position: relative;
    padding: 0.75rem 1.25rem;
    margin-bottom: 1rem;
    border: 1px solid transparent;
    border-radius: 0.25rem;
}
.tableone tbody th, .tableone tbody td {
    border: none;
    padding: 30px;
    border-bottom: 4px solid #f8f9fd;
    vertical-align: middle;
}
.tableone th {
    padding: 2rem;
    vertical-align: top;
    border-top: 1px solid #dee2e6;
    color: white;
    text-align: left;
}

.checkbox-wrap input {
    position: absolute;
    cursor: pointer;
    height: auto;
  
}

.checkbox-wrap {
    display: block;
    position: relative;
    cursor: pointer;
    font-size: 16px;
    font-weight: 500;
    user-select: none;
}
.table tbody td .img {
    width: 70px;
    height: 80px;
}
.table tbody td .email span:first-child {
    font-weight: 500;
    font-size: 20px;
    color: #000000;
}
.table tbody td .email span {
    display: block;
}
.table tbody td .email span:last-child {
    color: rgba(0, 0, 0, 0.3);
}
.table tbody td .email span {
    display: block;
}
.table tbody td.quantity {
    width: 10%;
}
.close:not(:disabled):not(.disabled) {
    cursor: pointer;
}
button.close {
    padding: 0;
    background-color: transparent;
    border: 0;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}
.close {
    float: right;
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 1;
    color: #000;
    text-shadow: 0 1px 0 #fff;
    opacity: .5;
}
.cart-total p {
    width: 100%;
    display: block;
}
.cart-total p span {
    display: block;
    width: 30%;
    color: #000000;
}
.cart-total p.total-price span:last-child {
    color: #000000;
    font-weight: 600;
    font-size: 14px;
}

